@{
    string Pagina = ViewBag.Title;
    string apiServidor = System.Configuration.ConfigurationManager.AppSettings["API_SERVIDOR"];
    string webServidor = System.Configuration.ConfigurationManager.AppSettings["SERVIDOR"];
}

<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title </title>
    <link rel="shortcut icon" href="~/Recursos/favicon.png" type="image/png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>-->
</head>
<body>
    <div id="appMaster">
        <b-navbar toggleable="lg" type="dark" class="colorSanPablo">

            <b-navbar-brand href="#">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-light bg-white" title="San Pablo">
                    @*<img src="~/Recursos/Sede/San_pablo_" +{{ID_SEDE}}+".png" class="d-inline-block align-top" height="27" alt="San Pablo">
                </a>&nbsp;&nbsp;&nbsp;*@
                <img v-bind:src="LOGO" class="d-inline-block align-top" height="27" alt="San Pablo">
                </a>&nbsp;&nbsp;&nbsp;
                
                @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-light bg-white" title="San Pablo"><img src="~/Recursos/CSP.svg" class="d-inline-block align-top" height="27" alt="San Pablo"></a>&nbsp;&nbsp;&nbsp;*@
            </b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-light" title="Perfil" v-b-toggle.sidebar-1><b-icon icon="person-lines-fill" size="3rem"></b-icon>&nbsp;&nbsp;&nbsp;Menú</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-light" title="SEDE"><b-icon icon="globe2" size="3rem"></b-icon>&nbsp;&nbsp;&nbsp;{{SEDE}}&nbsp;|&nbsp;@ViewBag.Title</a>&nbsp;&nbsp;&nbsp;
                </b-navbar-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <div>

                        @*<b-avatar id="popover-target-Enlaces" variant="light" size="3rem"><img src="../icons/folder-symlink.svg" width="22" height="22" alt="info"></b-avatar>*@

                        @*<b-link class="text-white-50" id="popover-target-Enlaces"><b-avatar button icon="folder-symlink" size="3rem" class="align-center" variant="light"></b-avatar></b-link>*@


                        @*<b-link class="text-white-50" id="popover-target-Usuarios"><b-avatar button icon="person-circle" size="3rem" class="align-center" variant="light"></b-avatar></b-link>
        &nbsp;&nbsp;*@

                        @*<b-link class="text-white-50" id="popover-target-Soporte"><b-avatar button icon="info-lg" size="3rem" class="align-center" variant="light"></b-avatar></b-link>
        &nbsp;&nbsp;*@
                        <span class="bg bg-transparent text-white-50" style="padding-right:10px">{{NOMBRES}} {{APELLIDOS}}</span>
                        <span class="bg bg-transparent text-white-50" style="padding-right:10px">{{USUARIO}}</span>
                        
                        &nbsp;
                        @*<span v-if="ListaGrafico.length>0 ">
            <b-link class="text-white-50" id="popover-target-Grafico"><b-avatar button icon="bar-chart" size="3rem" class="align-center" variant="light"></b-avatar></b-link>
        </span>
        &nbsp;*@
                        <b-link class="text-white-50" id="popover-target-Soporte"><b-avatar button size="3rem" class="align-center" variant="light"><img src="../icons/info-lg.svg" alt="info"></b-avatar></b-link>&nbsp;
                        <b-link class="text-white-50" id="popover-target-Perfil"><b-avatar button size="3rem" class="align-center" variant="light"><img src="../icons/person-circle.svg" alt="info"></b-avatar></b-link>&nbsp;

                        @*<b-popover target="popover-target-Grafico" triggers="hover" placement="top">
            <div class="col-lg-12">
                <h2 class="text-center">Gráfico de avance</h2>
                <h4 class="text-center">(semanal)</h4>

                <template>
                    <bar-chart :styles="myStyles" :data="graficoAvance"></bar-chart>
                </template>

            </div>
        </b-popover>*@
                        <b-popover target="popover-target-Soporte" triggers="hover" placement="top">
                            <b>
                                Puedes reportar cualquier error en la aplicación a través de los siguientes medios <br />
                                <b-avatar button size="3rem" class="align-center" variant="light"><img src="../icons/telephone.svg"></b-avatar> 5233 <br />
                                <b-avatar button size="3rem" class="align-center" variant="light"><img src="../icons/envelope.svg"></b-avatar> mleiva@SanPablo.com.pe <br />
                                <b-avatar button size="3rem" class="align-center" variant="light"><img src="../icons/envelope.svg"></b-avatar> matme@SanPablo.com.pe <br />
                            </b>
                        </b-popover>
                        <b-popover target="popover-target-Perfil" triggers="hover" placement="top">
                            <center>
                                <b>Usuario:</b>{{ID_USUARIO}}-{{USUARIO}}<br />
                                {{CORREO}}
                                <hr />
                                <span class="btn pill btn-outline-info" v-on:click="editarPerfil()">Gestionar tu cuenta</span><br /><br />
                                <span class="btn btn-light" v-on:click="salir(), elegirPagina( {TITULO: 'SALIR', PAGINA: 'Seguridad/Login' } )">Salir&nbsp;&nbsp;&nbsp;<img src="../icons/box-arrow-in-right.svg"></span>
                            </center>
                        </b-popover>

                        <b-popover target="popover-target-Usuarios" triggers="hover" placement="top">
                            <b> Usuarios Conectados</b> <b-button pill variant="info" v-on:click="listaConectados()">Consultar</b-button>
                            <hr />
                            <div v-if="ListaConectados.length>0" style=" height: 600px; overflow: scroll;">
                                <table striped hover>
                                    <tr class="bg bg-light" v-for="li in ListaConectados">
                                        <td style="font-size: 8px;padding-right: 14px;">{{ li.PLANTILLA }}</td>
                                        <td style="font-size: 10px;padding-right: 14px;"><b-badge variant="info">{{ li.RESULTADO }}</b-badge></td>
                                        <td style="font-size: 8px;padding-right: 12px;">{{ li.FECHA }}</td>
                                    </tr>
                                </table>
                            </div>
                        </b-popover>

                        <b-popover target="popover-target-Enlaces" triggers="hover" placement="top">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b-card no-body>
                                        <b-card-header class="colorSanPablo text-light">
                                            @*<template v-if="grupo.MODO=='1'">
                                <div v-if="grupo.ENLACE" v-on:click="mostrarModal( {msg: grupo.TITULO, PAGINA:  '../' + grupo.ENLACE , CONTENIDO: grupo.ACCIONES } )"><span style="font-size: 12px">{{grupo.TITULO}}</span></div>
                            </template>
                            <template v-if="grupo.MODO=='2'">*@


                                            @*<a class="text-white" href="~/Admin/Pdf" target="_blank"><span class="text-white" style="font-size: 12px">Generar PDF</span><br /></a>*@
                                            @*</template>*@
                                        </b-card-header>

                                    </b-card>
                                </div>
                                <!--<div class="col-sm-12" v-for="(grupo, index) in ListaGrupos">
            <b-card no-body>
                <template v-if="grupo.NIVEL == 1">
                    <b-card-header class="bg-info text-light">
                        <template v-if="grupo.MODO=='1'">
                            <div v-if="grupo.ENLACE" v-on:click="mostrarModal( {msg: grupo.TITULO, PAGINA:  '../' + grupo.ENLACE , CONTENIDO: grupo.ACCIONES } )"><span style="font-size: 12px">{{grupo.TITULO}}</span></div>
                        </template>
                        <template v-if="grupo.MODO=='2'">
                            <a v-if="grupo.ENLACE" class="text-white" :href="grupo.ENLACE" target="_blank"><span class="text-white" style="font-size: 12px">{{grupo.TITULO}}</span><br /></a>
                        </template>
                    </b-card-header>
                </template>
                <template v-if="grupo.NIVEL == 2">
                    <b-card-header class="bg-info text-light">
                        <div :id="'accordion-' + grupo.ID" v-b-toggle="'col-' + grupo.ID"> {{ grupo.CONTENIDO }}</div>
                    </b-card-header>

                    <b-collapse :id="'col-' + grupo.ID">
                        <div class="col-xs-12 col-sm-12" v-for="i in ListaEnlaces">
                            <template v-if="i.ID > '0' ">
                                <template v-if="i.CONTENIDO == grupo.CONTENIDO">
                                    <div class="col-xs-12 col-sm-12">
                                        <template v-if="i.MODO=='1'">-->
                                @*<b-avatar class="text-center" v-on:click="mostrarModal( {msg: i.TITULO, PAGINA:  '../' + i.ENLACE , CONTENIDO: i.ACCIONES } )" button icon="link-45deg" size="3rem" variant="light"><span style="font-size: 9px">{{i.TITULO}}</span><br /><span style="font-size: 16px"></span></b-avatar>*@
                                <!--<h2 v-if="i.ENLACE" v-on:click="mostrarModal( {msg: i.TITULO, PAGINA:  '../' + i.ENLACE , CONTENIDO: i.ACCIONES } )"><b-avatar class="text-center" button icon="link-45deg" size="3rem" variant="light"></b-avatar><span style="font-size: 9px">{{i.TITULO}}</span></h2>
                                            </template>
                                            <template v-if="i.MODO=='2'">
                                                <h2><a v-if="i.ENLACE" :href="i.ENLACE" target="_blank"><b-avatar class="text-center" button icon="link-45deg" size="2rem" variant="light"></b-avatar><span style="font-size: 9px">{{i.TITULO}}</span><br /></a></h2>
                                            </template>


                                        </div>
                                    </template>
                                </template>

                            </div>
                        </b-collapse>
                    </template>
                </b-card>
            </div>-->
                            </div>
                        </b-popover>
                    </div>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <template>

            @*:backdrop-variant="dark"*@
            <b-sidebar id="sidebar-1" bg-variant="light" body-class="light" text-variant="dark" no-header backdrop shadow>
                @*<img class="wave" src="~/Recursos/wave.png">*@

                <template #default="{ hide }">
                    <div class="px-2 py-3">
                        @*<img class="wave" src="~/Recursos/wave.png">*@
                        <div class="text-right">
                            <b-icon icon="x-circle" style="width: 25px; height: 25px;" variant="dark" @@click="hide"></b-icon>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <br />
                                <center><img v-bind:src="LOGO" width="65%" alt="San Pablo"></center>
                            </div>

                        </div><br />
                        <div style="padding: 15px 15px 15px 25px;">
                            <div class="row text-black">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-lg-5 text-center">
                                            <b-avatar class="text-center" button icon="person-circle" size="6rem" variant="light"></b-avatar>
                                        </div>
                                        <div class="col-xs-7 col-sm-7  col-lg-7">
                                            <br />
                                            <span style="font-size: 14px">Bienvenido</span><br /><span class="text-dark" style="font-size: 18px"><b>{{NOMBRES}}</b></span>
                                        </div>
                                    </div><br />
                                    <table>
                                        <tr>
                                            <td colspan="2" class="text-center"><span class="text-dark"></span></td>
                                            <td><span><b>{{SEDE}}</b></span></td>
                                        </tr>

                                        <tr>
                                            <td><span class="text-dark">ROL</span></td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td><span><b>{{ROL}}</b></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="padding: 0px 15px 25px 25px;" class="text-light">
                            <hr /><br />

                            <div class="row">
                                <div class="col-sm-12 " v-for="(item, index) in ListaPermisos">
                                    <b-card no-body>
                                        <template>
                                            <b-card-header class="colorSanPablo" v-bind:title="item.TITULO" style="cursor: pointer" v-on:click="elegirPagina( {TITULO: item.TITULO, PAGINA: item.PAGINA } )">
                                                <span>
                                                    @*<b-avatar class="text-center" button v-bind:icon="item.ICONO" size="3rem" variant="light"></b-avatar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px"><b>{{ item.TITULO }}</b></span>*@
                                                    <b-avatar button size="3rem" class="align-center" variant="light"><img v-bind:src="item.ICONO" alt="info"></b-avatar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px"><b>{{ item.TITULO }}</b></span>
                                                </span>
                                            </b-card-header>
                                        </template>
                                        @*<template v-if="grupo.NIVEL == 2">
                                                <b-card-header class="bg-info text-light">
                                                    <div :id="'accordion-' + grupo.ID" v-b-toggle="'col-' + grupo.ID"> {{ grupo.CONTENIDO }}</div>
                                                </b-card-header>
                                                <b-collapse :id="'col-' + grupo.ID">
                                                    <div class="col-xs-12 col-sm-12" v-for="i in ListaEnlaces">
                                                        <template v-if="i.ID > '0' ">
                                                            <template v-if="i.CONTENIDO == grupo.CONTENIDO">
                                                                <div class="col-xs-12 col-sm-12">
                                                                </div>
                                                            </template>
                                                        </template>
                                                    </div>
                                                </b-collapse>
                                            </template>*@
                                    </b-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </b-sidebar>

        </template>


        <b-modal id="formularioInterno" v-bind:title="TITULO" size="xl" hide-footer @@hide="salida">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div>
                        <b-embed type="iframe"
                                 aspect="16by9"
                                 v-bind:src="MODAL"
                                 allowfullscreen></b-embed>
                    </div>
                </div>
            </div>
        </b-modal>

        <b-modal id="editarPerfil" title="Perdil de Usuario" size="lg" hide-header hide-footer @@hide="salida">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card redondoCardLight  cajaGrisClaroDelgado">
                        <div class="card-header colorSanPablo" style="float:right; font-size: 18px; height: 40px; margin-top: 0px;  z-index: 10;">
                            <div class="card-title text-center text-white">
                                <strong class="text-center">{{USUARIO}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                                <div class="card-body">
                                    <div class="card-text">
                                        <b-container fluid>
                                            <b-row class="my-1">
                                                <b-col sm="3">
                                                    <label for="input-none">Usuario:</label>
                                                </b-col>
                                                <b-col sm="9">
                                                    <b-form-input id="input-none" v-model="USUARIO" disabled></b-form-input>
                                                </b-col>
                                            </b-row>
                                            <b-row class="my-1">
                                                <b-col sm="3">
                                                    <label for="input-valid">Password:</label>
                                                </b-col>
                                                <b-col sm="9">
                                                    <b-form-input id="input-valid" v-model="PASSWORD" type="password" placeholder="Valid input"></b-form-input>
                                                </b-col>
                                            </b-row>
                                            <b-row class="my-1">
                                                <b-col sm="3">
                                                    <label for="input-valid">Nombres:</label>
                                                </b-col>
                                                <b-col sm="9">
                                                    <b-form-input v-model="NOMBRES" placeholder="Campo requerido"></b-form-input>
                                                </b-col>
                                            </b-row>
                                            <b-row class="my-1">
                                                <b-col sm="3">
                                                    <label for="input-valid">Apellidos:</label>
                                                </b-col>
                                                <b-col sm="9">
                                                    <b-form-input v-model="APELLIDOS" placeholder="Campo requerido"></b-form-input>
                                                </b-col>
                                            </b-row>
                                            <b-row class="my-1">
                                                <b-col sm="3">
                                                    <label for="input-valid">Correo:</label>
                                                </b-col>
                                                <b-col sm="9">
                                                    <b-form-input v-model="CORREO" placeholder="ejemploSanPablo.com.pe"></b-form-input>
                                                </b-col>
                                            </b-row>
                                            <br />
                                            <div class="text-right">
                                                <b-button v-on:click="onSubmit" variant="outline-info" pill><b-avatar variant="outline-info" icon="person-fill" size="2rem"></b-avatar>Guardar</b-button>
                                            </div><br />
                                        </b-container>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                                <div class="card-body">
                                    <div class="card-text">
                                        @*/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;*@
                                        <h3>Roles asignados:</h3>
                                        <div class="mt-3">
                                            <b-card-group deck>
                                                <template v-for="(item, index) in ListaRolesxUsuario">
                                                    <b-button pill :id="`popover-1-${item.ID}`" variant="outline-secondary" style="padding: 5px">{{ item.TITULO }}</b-button>&nbsp;&nbsp;&nbsp;
                                                    <b-popover :target="`popover-1-${item.ID}`" :placement="item.TITULO" variant="secondary" :title="`Sede: (${item.SEDE}) `"
                                                               triggers="hover focus" data-html="true" :content="`${item.TITULO}`">

                                                    </b-popover>
                                                </template>

                                            </b-card-group>
                                        </div><br />
                                        <hr />
                                        <template v-if="ListaGruposxUsuario.length>0">
                                            <h3>Grupos asignados:</h3>
                                            <div class="mt-3">
                                                <b-card-group deck>
                                                    <template v-for="(item, index) in ListaGruposxUsuario">
                                                        <b-button pill variant="outline-secondary" style="padding: 5px">{{item.TITULO}}</b-button>&nbsp;&nbsp;&nbsp;
                                                    </template>
                                                </b-card-group>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </b-modal>

    </div>

    @RenderBody()

    <style>

        .wave {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            z-index: -1;
        }
    </style>
    <script>

        const config = {
            headers: { Authorization: `Bearer ${'@Session["Token"].ToString()'}` }
        };
        var app = new Vue({
            el: '#appMaster',
            data: {
                MensajeSistema: '',
                PAGINA: '@Pagina',
                TITULO: '',
                ID_SESSION: sessionStorage.getItem('ID_SESSION'),
                ID_USUARIO: '@User.Identity.Name',
                USUARIO: '@Session["Usuario"].ToString()',
                NOMBRES:'@Html.Raw(Session["Nombres"].ToString())', //'@Session["Nombres"].ToString()',
                APELLIDOS: '@Html.Raw(Session["Apellidos"].ToString())',  //'@Session["Apellidos"].ToString()',
                CORREO: sessionStorage.getItem('CORREO'),
                SERVER_URL: '@apiServidor',
                ID_ROL: '@Session["ID_ROL"].ToString()',
                ROL: '@Session["ROL"].ToString()',
                ID_SEDE: '@Session["ID_SEDE"].ToString()',
                SEDE: '@Session["SEDE"]',
                LOGO: '@webServidor'+'/Recursos/Sede/San_pablo_' + '@Session["ID_SEDE"].ToString()' + '.png',

                USUARIO_ : '@User.Identity.Name',
                PASSWORD: '',
                MODAL: '',
                ListaPermisos: [],
                ListaGrupoPermisos: [],
                ListaConectados: [],
                ListaGrupos: [],
                ListaEnlaces: [],
                ListaSubEnlaces: [],

                ListaGruposxUsuario: [],
                ListaRolesxUsuario: [],
                Columnas: [
                    'ID', 'TITULO', 'SEDE', 'FECHA', { key: 'RESULTADO', label: 'ACCIONES' }, 'ID_ROL'
                ],
                graficoAvance: [],
                ListaGrafico: [],
                myStyles: {
                    height: '100px',
                    width: '100%',
                    position: 'relative',
                },
            },
            methods: {
                salida: function() {
                    //this.coneccion({ PAGINA: this.PAGINA });
                },

                mostrarModal: function (form) {
                    this.coneccion({ PAGINA: form.msg });
                    sessionStorage.setItem('IMAGE', form.CONTENIDO);
                    this.TITULO = form.msg;
                    this.MODAL = form.PAGINA;

                    this.$bvModal.show('formularioInterno');
                },

                mostrarToast(variant = null) {
                    this.$bvToast.toast(variant.msg, {
                        title: `Alerta de sistema`,
                        variant: variant.toast,
                        solid: true
                    })
                },

                editarPerfil: function () {
                    this.listarGruposxUsuario();
                    this.listarRolesxUsuario();
                    this.$bvModal.show('editarPerfil');
                    //this.mostrarModal({ PAGINA: 'editarPerfil' });
                },

                onSubmit(event) {
                    this.MensajeSistema = "Verificar los siguientes campos: ";
                    if (this.PASSWORD.length > 0) this.MensajeSistema = this.PASSWORD.length < 6 ? this.MensajeSistema + " Password menor a 6 caracteres" : this.MensajeSistema;
                    this.MensajeSistema = this.NOMBRES.length < 4 ? this.MensajeSistema + " Nombres" : this.MensajeSistema;
                    this.MensajeSistema = this.APELLIDOS.length < 4 ? this.MensajeSistema + " Apellidos" : this.MensajeSistema;

                    if (this.MensajeSistema.length < 35) {
                        axios.post(this.SERVER_URL + '/api/Usuario/MantenimientoUsuario', {
                            ID: this.ID_USUARIO,
                            USUARIO: this.USUARIO,
                            PASSWORD: this.PASSWORD,
                            NOMBRES: this.NOMBRES,
                            APELLIDOS: this.APELLIDOS,
                            CORREO: this.CORREO,
                            ID_GRUPO: 0,
                            ID_USUARIO: this.ID_USUARIO,
                            ID_SEDE: this.ID_SEDE,
                        }, config).then(response => {
                            if (response.data.ID > 0) {
                                //this.ID_USUARIO = response.data.ID;
                                //this.ListaUsuariosSinFiltro = []; this.ListaUsuarios = [];
                                //this.listarGruposxUsuario();
                                this.mostrarToast({ toast: 'success', msg: 'Guardado correctamente' });
                            }
                        }).catch(e => {
                            this.mostrarToast({ toast: 'danger', msg: 'Ocurrio un error en la conexión, registro no guardado ...' });
                        });
                    } else {
                        this.mostrarToast({ toast: 'danger', msg: this.MensajeSistema });
                    }
                },

                inicioMaster: function (idRol) {  //  alert(JSON.stringify(this.ListaMaestra));
                    if (this.ID_ROL > 0) {
                        //this.coneccion({ PAGINA: this.PAGINA });
                        axios.post(this.SERVER_URL + '/api/Usuario/ListarModulosxRol', {
                            ID: this.ID_ROL,
                            USUARIO: this.USUARIO,
                        },
                        config
                        ).then(response => {
                            this.ListaPermisos = [];
                            this.ListaPermisos = response.data;
                        }).catch(e => {
                            this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' });
                        });
                    } else {
                        document.location.href = '../Seguridad/Login';
                    }
                },

                elegirPagina: function (item) {
                    //document.location.href = '/Seguridad/Home';
                    document.location.href = '../' + item.PAGINA + '';
                },

                salir: function () {
                        axios.post(this.SERVER_URL + '/api/Usuario/Salir', {
                            USUARIO: this.USUARIO,
                        }, config).then(response => {

                        }).catch(e => {
                            this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' });
                        });
                },

                listarGruposxUsuario: function () {
                    axios.post(this.SERVER_URL + '/api/Grupo/ListarGruposxUsuario', {
                        ID: this.ID_USUARIO,
                        ID_USUARIO: this.ID_USUARIO,
                        ID_SEDE: this.ID_SEDE,
                    }, config).then(response => {
                        if (response.data.length > 0) { this.ListaGruposxUsuario = response.data;}
                    }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });
                },

                listarRolesxUsuario: function () {
                    this.ListaRolesxUsuario = [];
                    axios.post(this.SERVER_URL + '/api/Usuario/ListarRolesxUsuario', {
                        ID: this.ID_USUARIO,
                        ID_USUARIO: this.ID_USUARIO,
                        },
                        config
                        ).then(response => {
                        if (response.data.length > 0) { this.ListaRolesxUsuario = response.data; }
                    }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });
                },

                inicio: function () {

                    this.inicioMaster();
                }
            }
        })
        app.inicio();
        //app.grafico();
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>





@*<b-button v-b-toggle.collapse-1 block class="d-flex">
        <span>Button Text</span>
        <strong aria-hidden="true" class="ml-auto">+</strong>
    </b-button>
    <br>
    <b-collapse id="collapse-1" v-model="isVisible">
        <a href="" target="_blank"><b-avatar class="text-center" button icon="link-45deg" size="3rem" variant="light"></b-avatar></a>
        <span style="font-size: 9px">INTRANET WEBHELP</span><br /><span style="font-size: 16px"></span>
    </b-collapse>*@
