
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Pablo Salud</title>
    <link href="~/Content/Galerias/bootstrap.css?v=1.7" rel="stylesheet" />
    <link href="~/Content/Galerias/bootstrap-vue.css" rel="stylesheet" />
    <link href="~/icons/bootstrap-icons.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="~/Content/Galerias/utilPF.css?v=1.8" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
   
    @Scripts.Render("~/bundlesLogin/js")

</head>
<body>

    <header class="header">
        <div class="logo">
            <a href="~/Externo/Presentacion">
                <img src="~/Recursos/PagosPF/Logotipo.svg" alt="San Pablo Salud">
            </a>
        </div>

        <!-- Botón hamburguesa -->
        <button class="menu-toggle" aria-label="Toggle navigation">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <nav>
            <ul>

                <li><a href="#">Contáctanos</a></li>
                <li><a class="cta-button-header" href="~/Seguridad/Login">Inicia Sesión</a></li>

            </ul>
        </nav>
    </header>

    @*<div class="body">*@

    <section class="hero">
        <div class="hero-content1">
            <div class="content-regular">

                <p>Bienvenido al portal de San Pablo Salud</p>
                <br />
                <h1>Gestiona tus pagos de <br> forma fácil, rápida  y<br>  segura</h1>
                <br />
                <p>Aquí puedes pagar varias cuotas al mismo tiempo, actualizar tus <br>datos personales, consultar tu historial de pagos y mucho más desde <br>un solo lugar.</p>
                <br />
                <p class="cta">Todo pensado para brindarte más comodidad y control sobre tu <br>contrato.</p>
                <br />
                <br />

                <button class="cta-button content1-btn-login" onclick="window.location.href='@Url.Content("~/Seguridad/Login")';">Inicia sesión</button>

            </div>

            <div class="content-mobile">

                <p>Bienvenido al portal de San Pablo Salud</p>
                <br />
                <h1>Gestiona tus pagos de  forma fácil, rápida  y segura</h1>
                <br />
                <p>Aquí puedes pagar varias cuotas al mismo tiempo, actualizar tus datos personales, consultar tu historial de pagos y mucho más desde un solo lugar.</p>
                <br />
                @*<p class="cta">Todo pensado para brindarte más comodidad y control sobre tu contrato.</p>*@
                <br />

                <img style="width:50%;" src="~/Recursos/PagosPF/medicoPresentacion.png" alt="Médico" />
                <br />
                <br />
                <button class="cta-button content1-btn-login" onclick="window.location.href='@Url.Content("~/Seguridad/Login")';">Inicia sesión</button>

            </div>

            @*<button class="cta-button btn-mobile-login" onclick="window.location.href='@Url.Content("~/Seguridad/Login")';">Inicia sesión</button>*@


        </div>
        <div class="hero-content2">

            @RenderBody()

            @*<img src="~/Recursos/PagosPF/medicoPresentacion.png" alt="Médico" />*@
        </div>
    </section>
    @*</div>*@
    @*</div>*@

    <img class="vector-botton-right" src="~/Recursos/PagosPF/vectorPresentacion.svg" />


  


</body>
</html>

<script>
    // Seleccionamos el botón de menú y el contenedor del nav
    const menuToggle = document.querySelector('.menu-toggle');
    const nav = document.querySelector('header nav');

    // Añadimos un listener para el evento de clic en el botón hamburguesa
    menuToggle.addEventListener('click', () => {
        // Alternamos la clase 'active' en el contenedor del nav
        nav.classList.toggle('active');
    });

</script>