
@{
    string Title = "ADMIN | Excel Examen";
    ViewBag.Title = Title;
    Layout = "~/Views/Shared/_ImageUpload.cshtml";
}

@*<meta name="viewport" content="width=device-width" />*@
<div id="app">
    <div class="containerClaro">
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-header bg-info" style="float:right; font-size: 18px; height: 40px; margin-top: 0px;  z-index: 10;">
                        <div class="card-title text-center text-white">
                            <strong class="text-center">@Title</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            @using (Html.BeginForm("ExcelPreguntas", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    <div class="file-upload-form col-xs-8 col-md-8">
                                        Upload an image file:
                                        <input type="file" id="file" name="file" accept=".xls,.xlsx">
                                    </div>
                                    <div class="col-xs-4 col-md-4">
                                        <input type="submit" value="Subir archivo" />
                                    </div>

                                </div>

                                <!--Display Error Message-->
                                <div style="color:red;">@ViewBag.Message</div>
                                <!--Show the Data Table on the View after reading the Excel File-->
                                if (ViewBag.Listado != null)
                                {
                                    <div style=" overflow: scroll; border: 1px solid white; background-color: white;">
                                        <table class="table table-striped table-bordered table-responsive" style="font-size:9px;">
                                            <tr>
                                                <th>ID</th>
                                                <th>TITULO</th>
                                                <th>RESULTADO</th>
                                            </tr>

                                            @foreach (var item in ViewBag.Listado)
                                            {
                                                <tr>
                                                    <td style="text-align: center;">@item.ID</td>
                                                    <td style="text-align: center;">@item.PLANTILLA</td>
                                                    <td style="text-align: center;">@item.RESULTADO</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),
            imageData: "",  // we will store base64 format of image in this string

        },
        methods: {
            mostrarModal: function (form) {
                this.MensajeSistema = form.msg;
                this.$bvModal.show(form.modal);
            },
            mostrarToast(variant = null) {
                this.MensajeSistema = variant.msg;
                this.$bvToast.toast(this.MensajeSistema, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            previewImage: function (event) {
                // Reference to the DOM input element
                var input = event.target;
                // Ensure that you have a file before attempting to read it
                if (input.files && input.files[0]) {
                    // create a new FileReader to read this image and convert to base64 format
                    var reader = new FileReader();
                    // Define a callback function to run, when FileReader finishes its job
                    reader.onload = (e) => {
                        // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                        // Read image as base64 and set to imageData
                        this.imageData = e.target.result;
                    }
                    // Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0]);
                }
            },
        }
    })
</script>

