@{
    ViewBag.Title = "Bienvenida";
    Layout = "~/Views/Shared/_MasterInternoPagosPF.cshtml";
    string apiServidor = System.Configuration.ConfigurationManager.AppSettings["API_SERVIDOR"];
    string SERVIDOR = System.Configuration.ConfigurationManager.AppSettings["SERVIDOR"];

}


<div id="app">

    <div class="container-fluid">

        <div class="row justify-content-center">


            <div class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">
                <br />
                <br />
                <br />
                <p style="font-size:28px;font-weight:600;">Buen día, {{NOMBRES}} </p>
                <br />
                <p style="color:#818181;font-size:14px;">Administra tus pagos y cuenta fácilmente.</p>
                <br />
                <br />

                <div class="container">
                    <div class="row" style="background: linear-gradient(90deg, #82178B 0%, #BF4AC9 100%);border-radius:25px;">

                        <div class="col-lg-8" style="display:flex;flex-direction:column;justify-content:center;color:white;">

                            <p style="font-size:21px;margin-top:15px;margin-left:15px;">Mejora tu cobertura médica hoy</p>
                            <p style="font-size: 14px; margin-top: 15px; margin-left: 15px; line-height: 24px;">Disfruta de mayor respaldo en tus atenciones  medicas y accede a mas servicios cuando lo necesites</p>

                            <a class="cta-button-bnvda" style="width: 200px; text-align:center; margin-left: 15px; margin-top: 10px;text-decoration:none;" target="_blank" href="https://cotizador.sanpablosalud.com.pe/Seguridad/Cotizador">Mejorar cobertura</a>
                            <br />
                        </div>
                        <div class="col-lg-4" style="text-align:center;">
                            <br />
                            <img class="img-fluid" src="~/Recursos/heart.svg" />
                            <br />
                        </div>
                    </div>
                    <br />
                    <br />
                    <p style="font-size:21px;font-weight:600;">Tu cuenta</p>
                    <br />
                    <div class="row">

                        <div class="col-lg-6" style="padding-top:10px;">
                            <div style="background-color: white; padding-top: 15px; padding-left: 10px; border-radius: 18px; box-shadow: 0px 4px 52.8px -17px rgba(0, 0, 0, 0.15);">
                                <div class="container">


                                    <template v-if="stateloaderPen=='Comenzar'">
                                        <div class="row">
                                            <br />
                                            <div class="col-lg-7"> <p style="font-size:14px;color:gray;">Buscando pendientes...</p></div>
                                            <div class="col-lg-5 text-right"> <a href="Pagar" style="color:gray;font-size:14px;">Ver más</a> </div>
                                        </div>
                                    </template>
                                    <template v-else>

                                        <template v-if="lstCuotasPen.length>0">

                                            <div class="row">
                                                <br />
                                                <div class="col-lg-7"> <p style="font-size:14px;color:gray;">Tienes pagos pendientes</p></div>
                                                <div class="col-lg-5 text-right"> <a href="Pagar" style="color:gray;font-size:14px;">Ver más</a> </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <br />
                                                    <div class="container">
                                                        <template v-for="(item, index) in lstCuotasPen">
                                                            <div class="row" style="padding-bottom: 5px;" :key="item.INDICE">
                                                                <div class="col-md-12 col-lg-12 col-xl-4"><p style="font-size:1.1rem;"><i style="color: rgb(130 24 147); font-size: 1.35rem;" class="bi bi-credit-card-2-front-fill"></i> &nbsp;S/{{ item.MONTO }}</p></div>
                                                                <div class="col-md-12 col-lg-12 col-xl-4"><p style="font-size: 1.1rem;"> {{ item.VENCIMIENTO }}</p></div>
                                                                <div class="col-md-12 col-lg-12 col-xl-4"><p style="font-size: 1.1rem;"> {{ item.TIPOPLAN }}</p></div>
                                                            </div>

                                                        </template>
                                                    </div>
                                                </div>
                                            </div>

                                        </template>

                                        <template v-else>

                                            <div class="row">
                                                <br />
                                                <div class="col-lg-7"> <p style="font-size:14px;color:gray;">No se encontro pendientes</p></div>
                                                <div class="col-lg-5 text-right"> <a href="Pagar" style="color:gray;font-size:14px;">Ver más</a> </div>
                                            </div>

                                        </template>

                                    </template>

                                </div>

                            </div>
                        </div>



                        <div class="col-lg-6" style="padding-top:10px;">
                            <div style="background-color: white; padding-top: 15px; padding-left: 10px; border-radius: 18px; box-shadow: 0px 4px 52.8px -17px rgba(0, 0, 0, 0.15);">
                                <div class="container">


                                    <template v-if="stateloaderPag=='Comenzar'">
                                        <div class="row">
                                            <br />
                                            <div class="col-lg-7"> <p style="font-size:14px;color:gray;">Buscando estados de cuenta...</p></div>
                                            <div class="col-lg-5 text-right"> <a href="MisPagos" style="color:gray;font-size:14px;"><i style="font-size:17px;" class="bi bi-download"></i></a> </div>
                                        </div>
                                    </template>
                                    <template v-else>

                                        <template v-if="lstCuotasPag.length>0">

                                            <div class="row">
                                                <br />
                                                <div class="col-lg-7"> <p style="font-size:14px;color:gray;">Estados de cuenta</p></div>
                                                <div class="col-lg-5 text-right"> <a title="Descargar pagos" href="#" @@click="exportExcel()" style="color:gray;font-size:14px;"><i style="font-size:17px;" class="bi bi-download"></i></a> </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <br />
                                                    <div class="container">
                                                        <template v-for="(item, index) in lstCuotasPag">
                                                            <div v-if="index < 3" class="row" style="padding-bottom: 5px;">
                                                                <div class="col-md-12 col-lg-12 col-xl-4"><p style="font-size: 1.1rem;"> {{ item.TIPOPLAN }}</p></div>
                                                                <div class="col-md-12 col-lg-12 col-xl-4"><p style="font-size: 1.1rem;"> {{ item.VENCIMIENTO }}</p></div>
                                                                <div class="col-md-12 col-lg-12 col-xl-4"><p style="font-weight:600; font-size: 1rem;"> {{ item.ESTADO }}</p></div>

                                                                
                                                            </div>

                                                        </template>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <a href="MisPagos" style="color: #5A1160; font-size: 14px;">Ver todo el historial</a>
                                                    <div style="padding-bottom:15px;"></div>
                                                </div>
                                            </div>

                                          

                                        </template>

                                        <template v-else>

                                            <div class="row">
                                                <br />
                                                <div class="col-lg-7"> <p style="font-size:14px;color:gray;">Sin pagos</p></div>
                                                <div class="col-lg-5 text-right"> <a href="MisPagos" style="color:gray;font-size:14px;"><i style="font-size:17px;" class="bi bi-download"></i></a>  </div>
                                            </div>

                                        </template>

                                    </template>

                                </div>

                            </div>
                        </div>




                    </div>

                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br /> <br />
                <br />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Script específico para esta página -->


    <script>

    var app = new Vue({
                el: '#app',
        data: {
                    //loader
            stateloaderPen: 'Comenzar',
            stateloaderPag: 'Comenzar',
                    stateloader: 'Comenzar',
                    disabledComenzar: true,
                    indicador: false,
                    ID_USUARIO: '@User.Identity.Name',
                    NOMBRES: '@Html.Raw(Session["Nombres"].ToString())' ,
                    APELLIDOS : '@Html.Raw(Session["Apellidos"].ToString())',
                    USUARIO: '@Session["Usuario"].ToString()',
                    SERVER_URL: '@apiServidor',
                    PAGINA:'@ViewBag.Title',
                    SITE: '',
                    ID: 0,
                    lstCuotasPen: [],
            lstCuotasPag: [],
            canFilasPen : 0,
            totalRowsPen: 0,
            canFilasPag: 0,
            totalRowsPag: 0,
            msgAlertaPag: '',
            msgAlertaPen:''

        },
        methods: {
            exportExcel() {
                lstCuotasExport = [];
                for (const item of this.lstCuotasPag) {

                    lstCuotasExport.push({
                        TipoPlan: item.TIPOPLAN,
                        Cuota: item.N_CUOTA,
                        Contrato: item.CONTRATO,
                        TipoPago: item.TIPOPAGO,
                        Contrato: item.CONTRATO,
                        FechaVencimiento: item.VENCIMIENTO,
                        Monto: item.MONTO,
                        FechaPago: item.FECHA_PAGO,
                        Estado: item.ESTADO,
                        Canal: item.CANAL
                    });
                }


                let data = XLSX.utils.json_to_sheet(lstCuotasExport)
                const workbook = XLSX.utils.book_new()
                const filename = 'MisPagos'
                XLSX.utils.book_append_sheet(workbook, data, filename)
                XLSX.writeFile(workbook, `${filename}.xls`)

            },

            cargarCuotasPendientes: async  function  (item) {
                try {
                    this.stateloaderPen = 'Comenzar';
                    const response = await axios.post('@SERVIDOR' + '/api/PagosPF/ListarCuoPenGenPF', {
                        DOCUMENTO: '@Session["Usuario"].ToString()'
                            });

                            if (response.data == null) {
                                this.msgAlertaPen = 'Ocurrio un error....';
                            } else {
                                this.lstCuotasPen = response.data;
                                this.canFilasPen = this.lstCuotasPen.length;
                                this.totalRowsPen = this.canFilasPen;
                            }

                        } catch (e) {
                            this.msgAlertaPen = 'Error en la conexión...';
                        } finally {
                          this.stateloaderPen = 'Finalizar';
                        }
            },
            cargarCuotasPagadas: async function (item) {
                try {
                    this.stateloaderPag = 'Comenzar';
                    const response = await axios.post('@SERVIDOR' + '/api/PagosPF/ListarCuoPagGenPF', {
                        DOCUMENTO: '@Session["Usuario"].ToString()'
                            });

                            if (response.data == null) {
                                this.msgAlertaPag = 'Ocurrio un error....';
                            } else {
                            
                                this.lstCuotasPag = response.data;
                                this.canFilasPag = this.lstCuotasPag.length;
                                this.totalRowsPag = this.canFilasPag;
                            }

                        } catch (e) {
                            this.msgAlertaPag = 'Error en la conexión...';
                        } finally {
                           this.stateloaderPag = 'Finalizar';
                        }
             }

        }

    })
        app.cargarCuotasPendientes();
        app.cargarCuotasPagadas();
    </script>
}



