@{
    ViewBag.Title = "Mi Cuenta";
    Layout = "~/Views/Shared/_MasterInternoPagosPF.cshtml";
    string apiServidor = System.Configuration.ConfigurationManager.AppSettings["API_SERVIDOR"];
    string webServidor = System.Configuration.ConfigurationManager.AppSettings["SERVIDOR"];
}



<div id="app">

    <div class="container-fluid">

        <div class="row justify-content-center">


            <div class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">
                <br />
                <br />
                <br />
                <p style="font-size:28px;font-weight:600;">Actualizar mi cuenta</p>
                <br />
                <p style="color:#818181;font-size:14px;">Actualice sus datos de acceso.</p>
                <br />
                <br />

                <div class="container">
                    <form>
                        <div class="form-group">
                            <label for="inputAddress">Correo eletronico</label>
                            <input type="email" disabled class="form-control" id="inputAddress">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Telefono</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Celular</label>
                                <input type="text" class="form-control" id="inputPassword4">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Contraseña</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Valida Contraseña</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                        </div>



                        <br />
                        <button class="btn btn-primary">Grabar</button>
                    </form>
                    <br />
                    <br />

                </div>
                </div>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<script>

    var app = new Vue({
                el: '#app',
        data: {
                    //loader
                    stateloader: 'Comenzar',
                    disabledComenzar: true,

                    //forma de pago
                    selectedFP: '0',
                    optionsFP: [{ text: 'TODOS', value: '0' },{ text: 'CONTADO', value: '1' }, { text: 'CREDITO', value: '2' }],
                    //-----------------
                    estPendientes: '0',
                    estAprobados: '0',
                    estRechazados:'0',
                    graficoGeneral: [],
                    selected: 'P',
                    options: [{ text: 'APROBADO', value: 'A' }, { text: 'PENDIENTE', value: 'P' }, { text: 'RECHAZADO', value: 'R' }, { text: 'TODOS', value: 'T' } ],
                    indicador: false,

                     ID_USUARIO: '@User.Identity.Name',

                    //NOMBRE_USUARIO: '@Session["Nombres"].ToString()' +' '+ '@Session["Apellidos"].ToString()',
            NOMBRES: '@Html.Raw(Session["Nombres"].ToString())' ,
            APELLIDOS : '@Html.Raw(Session["Apellidos"].ToString())',
                    USUARIO: '@Session["Usuario"].ToString()',
                    SERVER_URL: '@apiServidor',




                    PAGINA:'@ViewBag.Title',
                    SITE: '',
                    ID: 0,


                }

    })

</script>