@{
    ViewBag.Title = "Pagar";
    Layout = "~/Views/Shared/_MasterInternoPagosPF.cshtml";

    string SERVIDOR = System.Configuration.ConfigurationManager.AppSettings["SERVIDOR"];
    string PAYENVIRONMENT = System.Configuration.ConfigurationManager.AppSettings["PAY_ENVIRONMENT"];
    string USUARIO = Session["Usuario"].ToString();
}
@*<link rel="stylesheet" href="~/Content/Galerias/StyleSynap.css?v=1.1" />*@
<link href="~/Content/Galerias/syn/style.css?v=2.4" rel="stylesheet" />
<script src="~/Scripts/Galerias/syn/lightbox.js?v=1.1"></script>
<style scoped>


    .row-select {
        background-color: #308df1 !important;
        color: white !important;
    }

        .row-select :hover {
            background-color: #308df1 !important;
            color: white;
        }

    div[synap-identifier="payment-button"] {
        background-color: #ed6a00;
    }
</style>

<div id="app" v-cloak>
    <div class="container-fluid">

        @*<h3>Configuración regional actual</h3>
            <ul>
                <li><strong>Culture:</strong> @ViewBag.Cultura</li>
                <li><strong>Separador decimal:</strong> "@ViewBag.SeparadorDecimal"</li>
                <li><strong>Separador de miles:</strong> "@ViewBag.SeparadorMiles"</li>
                <li><strong>Ejemplo numérico:</strong> @ViewBag.NumeroEjemplo</li>
            </ul>*@

        <div class="row justify-content-center">


            <div v-if="v_paso=='0'" class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">
                <div style="height:350px;">
                    <br />
                    <br />
                    <br />
                    <p style="font-size:28px;font-weight:600;">Cuotas pendientes por pagar</p>
                    <br />

                    <template v-if="msgAlerta == ''">
                        <p style="color:#818181;font-size:14px;">Obteniendo información...</p>
                        <br />
                        <br />
                    </template>
                    <template v-else>
                        <p style="font-size: 19px;" class="msgAlertaInt">{{msgAlerta}}</p>
                        <br />
                        <br />
                    </template>
                </div>
            </div>



            <div v-if="v_paso=='1'" class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">

                <br />
                <br />
                <br />
                <p style="font-size:28px;font-weight:600;">Cuotas pendientes por pagar</p>
                @*<br />
                    <p style="color:#818181;font-size:14px;">Seleccione contrato y cantidad de cuotas a pagar.</p>*@
                <br />
                <br />

                <div class="container">
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cboContrato">Seleccione contrato</label>
                                <b-form-select id="cboContrato" name="cboContrato" @@change="cargarCuotas"
                                               v-model="selectedContrato"
                                               :options="optContratos" class="form-control" style="font-size: 1.2rem; border-color: #5A1160; width: 100%; border-radius: 15px; "></b-form-select>
                                <span class="msgAlertaInt" v-if="msgAlertaCon != ''">{{msgAlertaCon}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cboCuotas">Cantidad cuotas</label>
                                <b-form-select id="cboCuotas" name="cboCuotas"
                                               v-model="selectedCuota"
                                               :options="optCuotas" class="form-control" style="font-size: 1.2rem; border-color: #5A1160; width: 100%; border-radius: 15px; "></b-form-select>
                                <span class="msgAlertaInt" v-if="msgAlertaCuo != ''">{{msgAlertaCuo}}</span>
                            </div>


                            <div class="form-group col-md-3">
                                <div style="padding-top:2rem;">
                                    <button class="btn btn-primary" style="padding:.7rem 2.5rem;" type="button" v-on:click="Seleccionar()">Seleccionar</button>

                                </div>
                            </div>
                        </div>

                    </div>




                </div>

                <div class="container">

                    <p style="font-size:13px;font-weight:bold;">{{msgSelCuotas}}</p>

                    <br />
                    <b-table hover :items="lstCuotas"
                             :fields="Columnas"
                             stacked="md"
                             head-variant="light"
                             :tbody-tr-class="rowClass"
                             responsive
                             show-empty
                             small>
                        <template #empty="scope">
                            <h6 class="text-center">No hay filas para mostrar.</h6>
                        </template>


                        <template #cell(name)="row">
                            {{ row.value.first }} {{ row.value.last }}
                        </template>



                        <template #cell(SELECCIONAR)="row">

                            <b-avatar disabled v-if="row.item.MARCADO=='Seleccionado'" icon="check-square" size="2rem" variant="primary" class="align-center"><i v-if="row.item.MARCADO=='Seleccionado'" class="bi bi-toggle-on"></i></b-avatar>

                            <b-avatar disabled v-if="row.item.MARCADO=='No Seleccionado'" icon="square" size="2rem" variant="light" class="align-center"><i v-if="row.item.MARCADO=='No Seleccionado'" class="bi bi-toggle-off"></i></b-avatar>


                        </template>

                    </b-table>

                    <br />

                    <hr />

                    <p style="font-weight:bold;font-size:15px;">Total a pagar: S/&nbsp;{{monto}}</p>

                    <template v-if="indPagar">
                        <div style="padding-top:2rem;">
                            <button class="btn btn-primary" style="padding:.7rem 2.5rem;" type="button" v-on:click="CheckoutPF()" v-if="stateloader=='Comenzar'">Ir a pagar</button>
                            <button class="btn btn-primary" style="padding:.7rem 2.5rem;" type="button" disabled v-if="stateloader=='Cargando'">Validando...</button>
                        </div>
                    </template>
                    <br />

                    <template v-if="msgAlerta != ''">
                        <p style="color:#ff0000;font-size:14px;">{{msgAlerta}}</p>
                    </template>
                </div>


            </div>


            <div v-if="v_paso=='2'" class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">
                <div @*style="height:620px;"*@>
                    <br />
                    <br />
                    <br />
                    <p style="font-size:28px;font-weight:600;">Pagar cuotas pendientes</p>
                    <br />
                    @*<p style="color:#818181;font-size:14px;">selecciona tu forma de pago preferida.</p>*@

                    <br />
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-7">


                                <!-- Overlay (fondo opaco) -->
                                <div class="overlay" @*onclick="closeLightbox()"*@></div>

                                <!-- Formulario flotante -->

                                <div class="lightboxPEKA">
                                    <div class="spinner-border text-info" style="width: 3.7rem; height: 3.7rem;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>

                                <div class="lightbox">
                                    <div class="lightbox-header">
                                        <img src="~/Recursos/PagosPF/Logotipo.png" style="height:40px;" />
                                        @*<h3 style="margin: 0">Datos de pago</h3>*@
                                        @*<button class="close-btn" style="color:#706e6e;" onclick="closeLightbox()">&times;</button>*@
                                    </div>
                                    <div class="lightbox-content">
                                        <div id="spinner-card" style="text-align:center;">
                                            <div class="spinner-border text-info" style="width: 3.8rem; height: 3.8rem;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <div id="cart-container" class="synap-container">

                                            <!-- Contenedor donde se apertura el widget de pago -->
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <a style='cursor: pointer;border: none;font-size:15px;' onclick="closeLightbox()">Cerrar</a>
                                    </div>
                                </div>

                                <div class="payment-container">
                                    <div class="payment-options">
                                        <br />
                                        <br />
                                        <div class="payment-section">
                                            <div class="section-title">

                                                Selecciona cómo deseas realizar tu pago
                                            </div>

                                            <label class="payment-method">
                                                <input type="radio" name="payment-method" value="IZIPAY" v-model="seleccion" />
                                                <i class="logo credit-cards-logo"></i>
                                                <div class="text-container">
                                                    <div class="method-name">Tarjetas de crédito / débito</div>
                                                    <div class="method-description">
                                                        Paga con tarjeta Visa, Mastercard, Amex o Diners
                                                    </div>
                                                </div>
                                            </label>


                                            <label class="payment-method">
                                                <input type="radio" name="payment-method" value="PAGOEFECTIVO" v-model="seleccion" />
                                                <i class="logo pagoefectivo-logo"></i>
                                                <div class="text-container">
                                                    <div class="method-name">PagoEfectivo</div>
                                                    <div class="method-description">
                                                        Paga en banca móvil, QR y agentes
                                                    </div>
                                                </div>
                                            </label>
                                            <label class="payment-method">
                                                <input type="radio" name="payment-method" value="KASHIO" v-model="seleccion" />
                                                <i class="logo kashio-logo"></i>
                                                <div class="text-container">
                                                    <div class="method-name">Kashio</div>
                                                    <div class="method-description">
                                                        Paga en banca móvil y agentes
                                                    </div>
                                                </div>
                                            </label>

                                            @*<label class="payment-method">
                                                    <input type="radio" name="payment-method" value="PAGOEFECTIVOBILLETERA" v-model="seleccion" />
                                                    <i class="logo yape-plin-logo"></i>
                                                    <div class="text-container">
                                                        <div class="method-name">QR - Billeteras</div>
                                                        <div class="method-description">
                                                            Pago con tu billetera digital Yape, Plin u otra
                                                        </div>
                                                    </div>
                                                </label>*@

                                        </div>


                                        @*<button class="continue-btn">Continuar con el pago</button>*@
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-5 text-center">
                                <br />
                                <br />
                                <br />



                                <p><b class="text-body">Plan Seleccionado</b></p>
                                <p class="text-body">{{lstCuotas.filter(item => item.MARCADO == 'Seleccionado')[0].TIPOPLAN}}<p>


                                <p style="padding-top:10px;"><b class="text-body">Cantidad cuotas a pagar</b></p>
                                <p class="text-body">{{lstCuotas.filter(item => item.MARCADO == 'Seleccionado').length}}<p>

                                <p><b class="text-body">Monto total</b></p>
                                <p class="text-body">S/&nbsp;{{monto}}<p>

                                    <template v-if="msgAlertaV2 != ''">

                                        <p style="padding:10px;color:#ff0000;font-size:15px;"><i style="font-size:14px;" class="bi bi-exclamation-circle"></i>&nbsp;{{msgAlertaV2}}</p>
                                    </template>
                                    <br />
                                    <button class="continue-btn" v-on:click="PagarPF()">Continuar con el pago</button>
                                    <br />
                                    <br />
                                    <a class="return-a" href="~/PagosPF/Pagar">Ir a cuotas pendientes</a>
                            </div>

                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>


            <br />
            <br />
            <br />
            <br />
        </div>
    </div>


</div>


@section scripts {

    <!-- Libreria en sandbox -->
    <script src="https://sbx.button.pay.synapsolutions.com/web/latest/sdk.js"></script>
    <!-- Libreria en production
     <script src="https://button.pay.synapsolutions.com/web/latest/sdk.js"></script>
        -->

    <script>


    var app = new Vue({
                el: '#app',
        data: {

            seleccion: '',

            v_paso: '0',
            indPagar:false,
            msgAlerta: '',
            msgAlertaV2: '',
            msgAlertaCon: '',
            msgAlertaCuo: '',
            msgSelCuotas:'',

            monto:'0.00',
            lstCuotas: [],
            Columnas: [
                { key: 'TIPOPLAN', label: 'Tipo de plan' }, { key: 'N_CUOTA', label: 'Cuota' },
                { key: 'CONTRATO', label: 'Contrato' }, { key: 'VENCIMIENTO', label: 'Vencimiento' },
                { key: 'MONTO', label: 'Monto' }, { key: 'ESTADO', label: 'Estado' }, { key: 'EMISION', label: 'Emisión' },
                { key: 'N_CUOTA', label: 'Emicuota' }, { key: 'SEC_CONTRATO', label: 'N.Renovación' },
                { key: 'SELECCIONAR', label: 'Selec.' }

            ],
            totalRows: 100,
            currentPage: 1,
            perPage: 100,
            pageOptions: [100, 200, 400, { value: 1000, text: "Mostrar Todo" }],

            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: '',
            filterOn: [],
            selectedContrato: '',
            optContratos: [],
            selectedCuota:'1',
            optCuotas: [{ text: '1', value: '1' }, { text: '2', value: '2' }, { text: '3', value: '3' }, { text: '4', value: '4' }],
            stateloader: 'Comenzar',
            disabledComenzar: true,
            MNTPAG: '',
            PagoCuotaPF: {
                BE_Deducible:
                    function (form) {
                        var oDeducible = {};
                        oDeducible.COD_PETITORIO = form.getCod;
                        oDeducible.COD_EMPRESA = "1001";

                        oDeducible.NOMBRES = form.tnombre;
                        oDeducible.APELLIDO_PATERNO = form.tapepat;
                        oDeducible.APELLIDO_MATERNO = form.tapemat;

                        oDeducible.COD_USUARIO = form.contract;

                        oDeducible.COD_SUCURSAL = "1001";

                        return JSON.stringify(oDeducible)
                    },
                BE_AUTHENTICATION:
                    function (COD_CURRENCY, PURCHASEAMOUNT) {
                        var oAuthentication = {};
                        oAuthentication.COD_PETITORIO = getCod;
                        oAuthentication.COD_CURRENCY = COD_CURRENCY;
                        oAuthentication.PURCHASEAMOUNT = PURCHASEAMOUNT;
                        oAuthentication.COD_EMPRESA = "1001";
                        return JSON.stringify(oAuthentication)
                    }

            }
        },
        methods: {
            rowClass(item, type) {
                if (!item || type !== 'row') return
                if (item.MARCADO === 'Seleccionado') return 'row-select'
            },
            fn_regresar: function () {
                    window.location.href ='@Url.Content("~/PagoPF/Pagar")';
            },
            pantalla: function (form) {
                this.$bvModal.show(form.PANTALLA);
            },

            limpiar: function (item) {

                this.msgAlerta = '';
                this.msgSelCuotas = '';
                this.indPagar = false;
                this.monto = '0.00';

            },
            Seleccionar: function (item) {
                this.limpiar();
                var canError = 0;
                var monto = 0.00;

                this.lstCuotas.forEach(item => {
                    item['MARCADO'] = 'No Seleccionado';
                });
                this.monto = monto;

                var indCuota = 1;
                var limite = this.selectedCuota;

                this.lstCuotas.forEach(item => {
                    if (indCuota <= limite) {
                        canError = item['INDICE'] != indCuota ? canError + 1 : canError + 0 ;
                        item['MARCADO'] = 'Seleccionado';
                        monto = monto + parseFloat(item['MONTO']);
                    }
                    indCuota = indCuota + 1;
                });


                if (canError > 0) {
                    this.msgSelCuotas = 'Ocurrio un error en cuotas.';
                    this.indPagar = false;

                } else {

                    const canCuotaSel = this.lstCuotas.filter(item => item.MARCADO == 'Seleccionado').length;

                    if (canCuotaSel == 0) {
                        this.msgSelCuotas = 'No hay cuotas a pagar';
                        this.indPagar = false;
                    } else if (canCuotaSel == 1) {
                        this.msgSelCuotas = 'Usted selecciono 1 cuota a pagar';
                        this.indPagar = true;
                    } else {
                        this.msgSelCuotas = 'Usted selecciono ' + canCuotaSel + ' cuotas a pagar';
                        this.indPagar = true;
                    }

                }

                this.monto = monto.toFixed(2);

            },

            cargarContratos: async function (item) {

                this.limpiar();

                try {

                    const response = await axios.post('@SERVIDOR' + '/api/PagosPF/ListarContratosPagoPF', {
                                DOCUMENTO : '@USUARIO'
                            });


                            if (response.data == null) {
                                this.msgAlerta = 'Ocurrio un error....';
                            } else {
                                this.optContratos = response.data.map(p => ({
                                    value: p.CONTRATO,
                                    text: p.NOMBREPLAN
                                }));

                                if (this.optContratos.length >= 1) {


                                    this.selectedContrato = this.optContratos[0].value;
                                }


                            }

                        } catch (e) {
                            this.msgAlerta = 'Error en la conexión...';
                        } finally {

                        }
            },


            cargarCuotas: function () {
                this.limpiar();


                axios.post('@SERVIDOR' + '/api/PagosPF/ListarCuotasPagoPF', {
                         DOCUMENTO: '@USUARIO',
                        CONTRATO : this.selectedContrato
                }).then(response => {
                    if (response.data == null) {
                        this.msgAlerta = 'Ocurrio un error....';
                    } else {
                        this.lstCuotas = response.data;


                    }

                }).catch(e => {
                    this.msgAlerta = 'Error en la conexión...';
                }).finally(() => {

                });
            },

            inicio: async function (item) {

                this.limpiar();

                await this.cargarContratos();
                await this.cargarCuotas();
                this.v_paso = '1';

            },

            /* SYNAP */

            fn_cerrarPayment: function () {
                $('#popupPagar').modal('hide');
            },


            /*INTEGRACION SYNAPSIS*/

            buildTransactionV2: function (form) {


                // Obtener la fecha y hora actual
                const now = new Date();

                // Sumar una hora a la fecha actual
                now.setHours(now.getHours() + 24);

                // Convertir la fecha a formato ISO 8601
                const isoFormat = now.toISOString();


                $("#logopago").attr("src", "../Recursos/PagosPF/Logotipo.png");
            /*    form.number ='PF0000046941';*/
                return {
                    number: form.number,
                    country: "PER",
                    currency: "PEN",
                    amount: form.money,
                    customer: {
                        identifier: form.email,
                        name: form.nombre,
                        lastName: form.apepat + " " + form.apemat,
                        address: {
                            country: "PER",
                            levels: [
                                "LIMA",
                                "LIMA",
                                "LIMA",
                            ],
                            line1: "",
                            zip: ""
                        },
                        email: form.email,
                        phone: form.phone,
                        document: {
                            type: "DNI",
                            number: form.docafi
                        }
                    },
                    shipping: {
                        name: form.nombre,
                        lastName: form.apepat + " " + form.apemat,
                        address: {
                            country: "PER",
                            levels: [
                                "LIMA",
                                "LIMA",
                                "LIMA"
                            ],
                            line1: "",
                            zip: "",

                        },
                        email: form.email,
                        phone: form.phone,
                        document: {
                            type: "DNI",
                            number: form.docafi
                        },

                    },
                    billing: {
                        name: form.nombre,
                        lastName: form.apepat + " " + form.apemat,
                        address: {
                            country: "PER",
                            levels: [
                                "LIMA",
                                "LIMA",
                                "LIMA"
                            ],
                            line1: "",
                            zip: "",

                        },
                        email: form.email,
                        phone: form.phone,
                        document: {
                            type: "DNI",
                            number: form.docafi
                        },

                    },
                    products: [
                        {
                            code: form.number,
                            name: "CuotaPF",
                            quantity: form.canprod,
                            unitAmount: form.money,
                            amount: form.money

                        },

                    ],
                    metadata: [
                        { CODIGO: form.number },
                        { EMPRESA: "1001|San Pablo Salud" },
                        { COD_EMPRESA: "1001" },
                        { COD_SUCURSAL: "1001" },
                        { COD_PACIENTE: form.contract },
                        { EMAIL: form.email },
                        { SECUENCIA: form.number }
                    ],
                    payment: {
                        channel: "WEB",
                        paymentOptions: this.seleccion
                    }, expiresAt: isoFormat,



                };
               // return transaction;
            },


            CheckoutPF: function (form) {
                this.v_paso= '2';
            },

            PagarPF: async function (form) {
                this.msgAlertaV2 = "";
                var mntResPag = "";
                this.MNTPAG = mntResPag;
                var P_IDPLAN = 0;
                var P_IND_MOD = '';
                var P_ERRORES = 0;



                if (this.seleccion == '') {
                    this.msgAlertaV2 = "PAG00: Debe seleccionar opción de pago para poder continuar.";
                    return;
                }

                const listaCuotasSeleccionadas = this.lstCuotas
                    .filter(item => item.MARCADO == 'Seleccionado');
                if (listaCuotasSeleccionadas.length==0) {
                    this.msgAlertaV2 = "CUO00: No se encontro cuotas seleccionadas."
                    return;
                }

                var P_IDTITULAR = listaCuotasSeleccionadas[0].CONTRATO; //this.selectedContrato;
                if (P_IDTITULAR == "") {
                    this.msgAlertaV2 = "CON01: Error contrato no puede ser nulo."
                    return;
                }

                var objtra = {};
                objtra.money = 0;
                objtra.canprod = 0;
                var P_SECUENCIA = '0';
                var registrosOk = 0;
                var canListaCuotas = listaCuotasSeleccionadas.length;
                for (var item2 in listaCuotasSeleccionadas) {

                    await axios.post('@SERVIDOR' + '/api/PagosPF/RegTransCuota', {
                    //await axios.post('@SERVIDOR' + '/api/PagosPF/RegTransCuotaFormPag', {
                        EMISION: listaCuotasSeleccionadas[item2].EMISION,
                        N_CUOTA: listaCuotasSeleccionadas[item2].N_CUOTA,
                        CONTRATO: listaCuotasSeleccionadas[item2].CONTRATO,
                        SEC_CONTRATO: listaCuotasSeleccionadas[item2].SEC_CONTRATO,
                        DOCUMENTO: '@USUARIO',
                        MONTO: listaCuotasSeleccionadas[item2].MONTO,
                        ESTADO: '',
                        SECUENCIA: P_SECUENCIA//,
                       // FORMA_PAG:this.seleccion
                    }).then(response => {
                        if (response.data.length > 0) {
                            if (response.data[0].MSG == 'OK') {

                                registrosOk = registrosOk + 1;

                                objtra.canprod = objtra.canprod + 1;
                                objtra.number = 'PF' + response.data[0].SECUENCIA.toString().padStart(10, '0');
                                objtra.nombre = response.data[0].NOMBRES;
                                objtra.apepat = response.data[0].APELLIDO_PATERNO;
                                objtra.apemat = response.data[0].APELLIDO_MATERNO;
                                objtra.email = response.data[0].CORREO;
                                objtra.phone = response.data[0].CEL_AFI;
                                objtra.docafi = response.data[0].DOCUMENTO;
                                objtra.contract = response.data[0].CONTRATO;

                                P_SECUENCIA = response.data[0].SECUENCIA;
                            } else {
                                P_ERRORES = P_ERRORES + 1;
                                this.msgAlertaV2 = 'CON00: Error en registro pago.';
                            }
                        } else {
                            P_ERRORES = P_ERRORES + 1;
                            this.msgAlertaV2 ='CON01: Error en la conexión de pago...' ;
                        }
                    }).catch(e => {
                        P_ERRORES = P_ERRORES + 1;
                        this.msgAlertaV2 = 'CON02: Error en la conexión...';
                    });
                }
                /*##################### POST REGISTRO CUOTAS #####################*/
                if (P_ERRORES > 0) {
                    this.msgAlertaV2 = "CON02: Se encontro un error, por favor actualice la pagina.";
                    return;
                }
                if (registrosOk != canListaCuotas) {
                    this.msgAlertaV2 =  "CON02: Error cantidad de registros correctos: " + registrosOk + "es diferente  cantidad de cuotas seleccionadas:" + canListaPlanes;
                    return;
                }
                //######### Obtener el monto por grupo cuotas ######################
                P_ERRORES = 0;
                await axios.post('@SERVIDOR' + '/api/PagosPF/ObtMnt', {
                    CONTRATO: objtra.contract,
                    SECUENCIA: P_SECUENCIA.toString(),
                    DOCUMENTO: '@USUARIO'
                }).then(response => {
                    if (response.data.MONTO < 1) {
                        P_ERRORES = P_ERRORES + 1;
                        this.msgAlertaV2 =  'CNT00: Error monto pago.';

                    } else {
                        objtra.money = response.data.MONTO.replace(",", ".");;

                    }

                }).catch(e => {
                    this.msgAlertaV2 = 'CNT01: Error en la conexión...';
                    P_ERRORES = P_ERRORES + 1;
                });

                if (P_ERRORES > 0) {
                    return;
                }

                mntResPag = 'S/. ' + parseFloat(objtra.money).toFixed(2);
                this.MNTPAG = mntResPag;

                //###### generar autenticacion #################

                var transaction = this.buildTransactionV2(objtra);
                var transactionJS = JSON.stringify(transaction);

                await axios.post('@SERVIDOR' + '/api/PagosPF/GenAut', {
                    TRANSACTION: transactionJS
                }).then(response => {
                    if (response.data != null) {

                        var aut = {
                            "x-api-key" : response.data.apikey,
                            "x-signature": response.data.signature,
                            "x-timestamp": response.data.timestamp
                        };

                        try {

                            $(".modal-footer").html("<a style='cursor: pointer;border: none;font-size:15px;' onclick='closeLightbox()'>Cerrar</a>");

                          
                            $("#spinner-card").fadeIn("slow");
                            openLightbox();
                            const metodoPago = this.seleccion;
                            var form = new Synap.Form({
                                environment: '@PAYENVIRONMENT',
                                authentication: aut,
                                transaction: transaction,
                                listeners: {
                                    afterPay: function (response) {

                                        if (response.success) {
                                            if (response.result.accepted) {
                                                console.info({ ecommerceCapureResponse: response });
                                                console.info("ACCEPTED");
                                                /*if (metodoPago === 'IZIPAY') {*/
                                                var HTMLStruct = "";

                                                //HTMLStruct += " <div class='div-flex-center'>";
                                                //HTMLStruct += "  <span style='font-size: 40px; width: 100 %; text-align: center; color: #3bc690;' class='bi bi-check-circle'></span>";
                                                //HTMLStruct += " </div>";

                                                    HTMLStruct += "<div class='synap-fieldlist-response' style='font-size:15px;'>Pago ";
                                                    HTMLStruct += response.result.message;
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-fieldlist-response'>";

                                                    HTMLStruct += "<div class='synap-field-response' style='margin-top: 40px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += "Codigo orden de pago:";
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='font-weight:normal;margin-top: 10px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += response.order.number
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='margin-top: 20px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += "Cantidad cuotas pagadas:";
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='font-weight:normal;margin-top: 10px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += objtra.canprod
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='margin-top: 20px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += "Monto:";
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='font-weight:normal;margin-top: 10px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += mntResPag
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='margin-top: 20px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += "Te estamos enviando un correo con toda la informacion de tu pago a : ";
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "<div class='synap-field-response' style='font-weight:normal;margin-top: 20px;text-align: left;font-size:13px; '>";
                                                    HTMLStruct += "<i style='font-size:15px;' class='bi bi-envelope'></i>&nbsp;" + objtra.email;
                                                    HTMLStruct += "</div>";

                                                    HTMLStruct += "</div>";

                                                    $("div[synap-identifier='title-value']").html(HTMLStruct);

                                                    $(".modal-footer").html("<a class='btn' style='background-color:#ED6A00;color:white;' href='Pagar'>Cerrar</a>");

                                                //} else {
                                                //    closeLightbox();
                                                //}
                                              
                                            }
                                            else {
                                                console.info({ ecommerceCapureResponse: response });
                                                console.info("DENIED");
                                            
                                                var HTMLStruct = "";
                                                HTMLStruct += "<div class='synap-fieldlist-response' style='font-size:15px;'>";
                                                HTMLStruct += response.result.message;
                                                HTMLStruct += "</div>";    
                                                $("div[synap-identifier='title-value']").html(HTMLStruct);
                                                $(".modal-footer").html("<a class='btn'  style='background-color:#ED6A00;color:white;' href='Pagar'>Cerrar</a>");
                                            }
                                        } else {

                                            console.info({ ecommerceCapureResponse: response });
                                            console.info("ERROR");
                                            if (metodoPago === 'IZIPAY') {
                                                $(".modal-footer").html("<a class='btn'  style='background-color:#ED6A00;color:white;' href='Pagar'>Cerrar</a>");
                                            } else {
                                                const code = response.message.code;
                                                closeLightbox();
                                            }
                                          
                                         
                                        }
                                    }
                                }
                            });

                        
                        
                            $('#cart-container').html("");
                            $("#spinner-card").fadeOut("slow");
                            form.render('#cart-container');





                        }
                        catch (e) {
                            this.msgAlertaV2 = 'La pasarela de pagos no se encuentra disponible en estos momentos.' + e.message;
                            return false;
                        }


                    } else {

                        this.msgAlertaV2 = 'Error en generacion de autenticacion.';
                    }
                }).catch(e => { this.msgAlertaV2 =  'AUT01: Error en la conexión...'; });
            },

            FormatMoneyCeros: function (form) {
                var valor = form.toString();
                var sValor;
                if (valor.indexOf(".") > -1 || valor.indexOf(",") > -1) {
                    sValor = valor;
                } else {
                    sValor = valor + ".00";
                }
                return sValor;
            }

        }

})

app.inicio();
    </script>
}