@{
    ViewBag.Title = "Pagar";
    Layout = "~/Views/Shared/_MasterInternoPagosPF.cshtml";
    string apiServidor = System.Configuration.ConfigurationManager.AppSettings["API_SERVIDOR"];
    string SERVIDOR = System.Configuration.ConfigurationManager.AppSettings["SERVIDOR"];
    string payEnvironment = System.Configuration.ConfigurationManager.AppSettings["PAY_ENVIRONMENT"];

}
<link rel="stylesheet" href="~/Content/Galerias/StyleSynap.css?v=1.1" />


<style scoped>

    .row-select {
        /*   background-color: #fcf0cf !important;*/
        background-color: #308df1 !important;
        color: white !important;
    }

        .row-select :hover {
            /*   background-color: #fcf0cf !important;*/
            background-color: #308df1 !important;
            color: white;
        }

</style>

<div id="app">
    <div class="container-fluid">

        @*<h3>Configuración regional actual</h3>
            <ul>
                <li><strong>Culture:</strong> @ViewBag.Cultura</li>
                <li><strong>Separador decimal:</strong> "@ViewBag.SeparadorDecimal"</li>
                <li><strong>Separador de miles:</strong> "@ViewBag.SeparadorMiles"</li>
                <li><strong>Ejemplo numérico:</strong> @ViewBag.NumeroEjemplo</li>
            </ul>*@

        <div class="row justify-content-center">


            <div v-if="v_paso=='0'" class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">
                <div style="height:350px;">
                    <br />
                    <br />
                    <br />
                    <p style="font-size:28px;font-weight:600;">Cuotas pendientes por pagar</p>
                    <br />

                    <template v-if="msgAlerta == ''">
                        <p style="color:#818181;font-size:14px;">Obteniendo información...</p>
                        <br />
                        <br />
                    </template>
                    <template v-else>
                        <p style="font-size: 19px;" class="msgAlertaInt">{{msgAlerta}}</p>
                        <br />
                        <br />
                    </template>
                </div>
            </div>



            <div v-if="v_paso=='1'" class="col-lg-12" style="background-color: #FAFAFA;border-radius:25px;">

                <br />
                <br />
                <br />
                <p style="font-size:28px;font-weight:600;">Cuotas pendientes por pagar</p>
                @*<br />
                    <p style="color:#818181;font-size:14px;">Seleccione contrato y cantidad de cuotas a pagar.</p>*@
                <br />
                <br />

                <div class="container">
                    <div class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cboContrato">Seleccione contrato</label>
                                <b-form-select id="cboContrato" name="cboContrato" @@change="cargarCuotas"
                                               v-model="selectedContrato"
                                               :options="optContratos" class="form-control" style="font-size: 1.2rem; border-color: #5A1160; width: 100%; border-radius: 15px; "></b-form-select>
                                <span class="msgAlertaInt" v-if="msgAlertaCon != ''">{{msgAlertaCon}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cboCuotas">Cantidad cuotas a pagar</label>
                                <b-form-select id="cboCuotas" name="cboCuotas"
                                               v-model="selectedCuota"
                                               :options="optCuotas" class="form-control" style="font-size: 1.2rem; border-color: #5A1160; width: 100%; border-radius: 15px; "></b-form-select>
                                <span class="msgAlertaInt" v-if="msgAlertaCuo != ''">{{msgAlertaCuo}}</span>
                            </div>


                            <div class="form-group col-md-3">
                                <div style="padding-top:2rem;">
                                    <button class="btn btn-primary" style="padding:.7rem 2.5rem;" type="button" v-on:click="Seleccionar()">Seleccionar</button>

                                </div>
                            </div>
                        </div>

                    </div>

           


                </div>

                <div class="container">

                    <p style="font-size:13px;font-weight:bold;">{{msgSelCuotas}}</p>
                  
                    <br />
                    <b-table hover :items="lstCuotas"
                             :fields="Columnas"
                             stacked="md"
                             head-variant="light"
                             :tbody-tr-class="rowClass"
                             responsive
                             show-empty
                             small>
                        <template #empty="scope">
                            <h6 class="text-center">No hay filas para mostrar.</h6>
                        </template>


                        <template #cell(name)="row">
                            {{ row.value.first }} {{ row.value.last }}
                        </template>



                        <template #cell(SELECCIONAR)="row">
                            <b-avatar disabled v-if="row.item.MARCADO=='Seleccionado'"  icon="check-square" size="2rem" variant="primary" class="align-center"></b-avatar>

                            <b-avatar disabled v-if="row.item.MARCADO=='No Seleccionado'"  icon="square" size="2rem" variant="light" class="align-center"></b-avatar>
                        </template>

                    </b-table>

                    <br />

                    <hr />

                    <p style="font-weight:bold;font-size:15px;">Total a pagar: S/&nbsp;{{monto}}</p>

                    <template v-if="indPagar">
                        <div style="padding-top:2rem;">
                            <button class="btn btn-primary" style="padding:.7rem 2.5rem;" type="button" v-on:click="PagarPF()" v-if="stateloader=='Comenzar'">Ir a pagar</button>
                            <button class="btn btn-primary" style="padding:.7rem 2.5rem;" type="button" disabled v-if="stateloader=='Cargando'">Validando...</button>
                        </div>
                    </template>
                    <br />
                </div>


            </div>


            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

    <b-modal id="mdConfirmacion" centered size="md" title="Confirmación"
             ok-title="Aceptar"
             cancel-title="Cancelar"
             ok-variant="custom-ok"
             cancel-variant="custom-cancel"
             header-class="custom-modal-header"
             data-html="true" @@ok="handleAceptar" ok-first>

        <br />
        <p class="p-body-modal" style="line-height:25px;text-align:center;">Se actualizara los datos de tu cuenta.</p>
        <p class="p-body-modal" style="line-height:25px;text-align:center;">¿Desea continuar?</p>
    </b-modal>

    @* SYNP *@
    <input type="button" id="btnPayment" class="btnPayment" style="display: none;" data-toggle="modal" data-target="#popupPagar" />

    <div class="modal fade" id="popupPagar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content" style="max-height: 680px; max-width: 465px; margin-left: 0px; padding: 10px; background-color: white; border-radius: 1.0rem;">
                <div class="modal-header" style="background-color: white;">
                    <img style="height: 35px;" id="logopago" src="~/Recursos/PagosPF/Logotipo.svg" />
                    <div style="color:black;font-size:15px;font-weight:bold;">{{MNTPAG}}</div>

                </div>
                <div class="modal-body" style="padding-top:10px;">
                    <div id="cart-container" class="synap-container ">
                        <!-- Contenedor donde se apertura el widget de pago -->
                    </div>
                </div>
                <div class="modal-msg">

                </div>
                <div class="modal-footer">
                    <a style='cursor: pointer;border: none;font-size:15px; ' v-on:click="fn_cerrarPayment()">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    @*{{this.lstCuotas.filter(item => item.MARCADO == 'Seleccionado')}}*@

</div>


@section scripts {

    <script src="https://button.pay.synapsolutions.com/web/latest/sdk.js"></script>

    <script>
      
    var app = new Vue({
                el: '#app',
        data: {

            v_paso: '0',
            indPagar:false,
                    msgAlerta: '',
            msgAlertaCon: '',
            msgAlertaCuo: '',
            msgSelCuotas:'',
                    //model
            monto:'0.00',
            lstCuotas: [],
            Columnas: [
                { key: 'TIPOPLAN', label: 'Tipo de plan' }, { key: 'N_CUOTA', label: 'Cuota' },
                { key: 'CONTRATO', label: 'Contrato' }, { key: 'VENCIMIENTO', label: 'Vencimiento' },
                { key: 'MONTO', label: 'Monto' }, { key: 'ESTADO', label: 'Estado' }, { key: 'EMISION', label: 'Emisión' },
                { key: 'N_CUOTA', label: 'Emicuota' }, { key: 'SEC_CONTRATO', label: 'N.Renovación' },
                { key: 'SELECCIONAR', label: 'Selec.' }

            ],
            totalRows: 100,
            currentPage: 1,
            perPage: 100,
            pageOptions: [100, 200, 400, { value: 1000, text: "Mostrar Todo" }],

            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: '',
            filterOn: [],
            selectedContrato: '',
            optContratos: [],
            selectedCuota:'1',
            optCuotas: [{ text: '1', value: '1' }, { text: '2', value: '2' }, { text: '3', value: '3' }, { text: '4', value: '4' }, { text: '5', value: '5' }],
                    //loader
                    stateloader: 'Comenzar',
                    disabledComenzar: true,
                    ID_USUARIO: '@User.Identity.Name',

                    NOMBRES: '@Html.Raw(Session["Nombres"].ToString())' ,
                    APELLIDOS : '@Html.Raw(Session["Apellidos"].ToString())',
                    USUARIO: '@Session["Usuario"].ToString()',
                    SERVER_URL: '@apiServidor',
                //synap
            MNTPAG: '',
            PagoCuotaPF: {
                BE_Deducible:
                    function (form) {
                        var oDeducible = {};
                        oDeducible.COD_PETITORIO = form.getCod;
                        oDeducible.COD_EMPRESA = "1001";
                        //oDeducible.COD_COMPANIA = "X";

                        oDeducible.NOMBRES = form.tnombre;
                        oDeducible.APELLIDO_PATERNO = form.tapepat;
                        oDeducible.APELLIDO_MATERNO = form.tapemat;
                        //oDeducible.COD_MEDICO = "X";
                        //oDeducible.COD_ESPECIALIDAD = "X";
                        oDeducible.COD_USUARIO = form.contract;
                        //oDeducible.FECHA_CITA = "X";
                        oDeducible.COD_SUCURSAL = "1001";
                        //oDeducible.FLG_TELECONSULTA = "X";
                        return JSON.stringify(oDeducible)
                    },
                BE_AUTHENTICATION:
                    function (COD_CURRENCY, PURCHASEAMOUNT) {
                        var oAuthentication = {};
                        oAuthentication.COD_PETITORIO = getCod;
                        oAuthentication.COD_CURRENCY = COD_CURRENCY;
                        oAuthentication.PURCHASEAMOUNT = PURCHASEAMOUNT;
                        oAuthentication.COD_EMPRESA = "1001";
                        return JSON.stringify(oAuthentication)
                    }

            }
        },
        methods: {
            rowClass(item, type) {
                if (!item || type !== 'row') return
                if (item.MARCADO === 'Seleccionado') return 'row-select'
            },
            fn_regresar: function () {
                    window.location.href ='@Url.Content("~/PagoPF/Pagar")';
            },
            pantalla: function (form) {
                this.$bvModal.show(form.PANTALLA);
            },

            limpiar: function (item) {

                this.msgAlerta = '';
                this.msgSelCuotas = '';
                this.indPagar = false;
                this.monto = '0.00';

            },
            Seleccionar: function (item) {
                this.limpiar();

                var monto = 0.00;
                //desmarcar y limpiar total
                this.lstCuotas.forEach(item => {
                    item['MARCADO'] = 'No Seleccionado';
                });
                this.monto = monto;
                //
                var indCuota = 1;
                var limite = this.selectedCuota;

                this.lstCuotas.sort((a, b) => a.INDICE - b.INDICE).forEach(item => {
                    if (indCuota <= limite) {
                        item['MARCADO'] = 'Seleccionado';
                        monto = monto + parseFloat(item['MONTO']);
                    }
                    indCuota = indCuota + 1;
                });

                const canCuotaSel = this.lstCuotas.filter(item => item.MARCADO == 'Seleccionado' ).length;

                if (canCuotaSel==0) {
                    this.msgSelCuotas = 'No hay cuotas a pagar';
                    this.indPagar = false;
                }

                else if (canCuotaSel == 1) {
                    this.msgSelCuotas = 'Usted selecciono 1 cuota a pagar';
                    this.indPagar = true;
                } else {
                    this.msgSelCuotas = 'Usted selecciono ' + canCuotaSel + ' cuotas a pagar';
                    this.indPagar = true;
                }

                this.monto = monto.toFixed(2);

                //----------
               

            },



            cargarContratos: async function (item) {

                this.limpiar();

                try {

                    const response = await axios.post('@SERVIDOR' + '/api/PagosPF/ListarContratosPagoPF', {
                                DOCUMENTO : '@Session["Usuario"].ToString()'
                            });


                            if (response.data == null) {
                                this.msgAlerta = 'Ocurrio un error....';
                            } else {
                                this.optContratos = response.data.map(p => ({
                                    value: p.CONTRATO,
                                    text: p.NOMBREPLAN
                                }));

                                if (this.optContratos.length >= 1) {

                               
                                    this.selectedContrato = this.optContratos[0].value;
                                }


                            }

                        } catch (e) {
                            this.msgAlerta = 'Error en la conexión...';
                        } finally {

                        }
            },

            cargarCuotas: async function (item) {
                this.limpiar();

                try {

                    const response = await axios.post('@SERVIDOR' + '/api/PagosPF/ListarCuotasPagoPF', {
                        DOCUMENTO: '@Session["Usuario"].ToString()',
                        CONTRATO : this.selectedContrato
                            });


                            if (response.data == null) {
                                this.msgAlerta = 'Ocurrio un error....';
                            } else {
                                this.lstCuotas = response.data;
                                
                               
                            }

                        } catch (e) {
                            this.msgAlerta = 'Error en la conexión...';
                        } finally {

                        }
            },

            inicio: async function (item) {

                this.limpiar();

                await this.cargarContratos();
                await this.cargarCuotas();
                this.v_paso = '1';
                
            },

            /*this.pantalla({ PANTALLA: 'mdConfirmacion' });*/
            handleAceptar: async function (item) {

                if (this.clave !='' && this.claveRe!='') {
                    this.tipoVal = 'actualiza_data_clave';
                } else {
                    this.tipoVal = 'actualiza_data';
                }


                try {
                      this.stateloader = 'Cargando';

                       await new Promise(resolve => setTimeout(resolve, 60));

                       const response = await axios.post('@SERVIDOR' + '/api/Usuarios/ActualizaUsuPagoPF', {
                                USUARIO: '@Session["Usuario"].ToString()',
                                PASSWORD: this.clave,
                                TIPODOC: '',
                                TIPOVAL: this.tipoVal,
                                TEL_AFI: this.telefono,
                                CEL_AFI: this.celular,
                                CORREO :  this.correo
                            });


                        // Comprobamos el mensaje de la respuesta
                        if (response.data.MSG == null) {
                            this.msgAlerta = 'Ocurrio un error....';
                        } else {
                            if (response.data.MSG == 'OK') {
                                this.v_paso = '3';
                            } else {
                                // Si la respuesta es otro mensaje, lo mostramos
                                this.msgAlerta = response.data.MSG;
                            }
                        }

                } catch (e) {
                        // En caso de error en la conexión
                        this.msgAlerta = 'Error en la conexión...';
                } finally {
                        // Esto se ejecuta independientemente de si hay error o no
                        this.stateloader = 'Comenzar';
                }


            },

            /* SYNAP */

            fn_cerrarPayment: function () {
                $('#popupPagar').modal('hide');
            },

            /*INTEGRACION SYNAPSIS*/
            buildTransaction: function (form) {
                $("#logopago").attr("src", "../Recursos/PagosPF/Logotipo.svg");
                //obteniedno codigo de pedido para sysnapsis

                var transaction = {
                    "order": {
                        "number": form.number,
                        "country": {
                            "code": "PER"
                        },
                        "currency": {
                            "code": "PEN"
                        },
                        "amount": form.money,
                        "customer": {
                            "name": form.nombre,
                            "lastName": form.apepat + " " + form.apemat,
                            "address": {
                                "country": "PER",
                                "levels": [
                                    "150000",
                                    "150100",
                                    "150101"
                                ],
                                "line1": "",
                                "zip": ""
                            },
                            "email": form.email,
                            "phone": form.phone,
                            "document": {
                                "type": "DNI",
                                "number": form.docafi
                            }
                        },
                        "products": [{
                            "code": form.number,
                            "name": "CuotaPF",
                            "quantity": form.canprod, // "1",
                            "unitAmount": form.money,
                            "amount": form.money
                        }],
                        "metadata": [
                            {
                                name: "CODIGO",
                                value: form.number
                            },
                            {
                                name: "EMPRESA",
                                value: "1001|San Pablo Salud"
                            },
                            {
                                name: "COD_EMPRESA",
                                value: "1001"
                            },
                            {
                                name: "COD_SUCURSAL",
                                value: "1001"
                            },
                            {
                                name: "COD_PACIENTE",
                                value: form.contract
                            },
                            {
                                name: "EMAIL",
                                value: form.email
                            },
                            {
                                name: "SECUENCIA",
                                value: form.number
                            }
                        ]
                    },
                    "settings": {
                        "brands": ['VISA', 'MSCD', 'AMEX', 'DINC'],
                        "language": "es_PE",
                        "businessService": "WEB"

                    }
                };
                return transaction;
            },

            PagarPF: async function (form) {
                this.msgAlerta = "";
                var mntResPag = "";
                this.MNTPAG = mntResPag;
                $('#cart-container').html("");
                $('.btnPayment').click();
                //ATME Revision

                const listaCuotasSeleccionadas = this.lstCuotas
                    .filter(item => item.MARCADO == 'Seleccionado'); 
              
                var P_IDTITULAR = this.selectedContrato;
                var P_IDPLAN = 0;
                var P_IND_MOD = '';
                var P_ERRORES = 0;

                if (P_IDTITULAR == 0) {
                    this.msgAlerta = "CON01: Error contrato no puede ser nulo."
                    return;
                }
                var objtra = {};
                objtra.money = 0;
                objtra.canprod = 0;
                var P_SECUENCIA = '0';
                var registrosOk = 0;
                var canListaCuotas = listaCuotasSeleccionadas.length;
                for (var item2 in listaCuotasSeleccionadas) {

                    await axios.post('@apiServidor' + '/api/PagosPF/RegTransCuota', {

                        EMISION: listaCuotasSeleccionadas[item2].EMISION,
                        N_CUOTA: listaCuotasSeleccionadas[item2].N_CUOTA,
                        CONTRATO: listaCuotasSeleccionadas[item2].CONTRATO,
                        SEC_CONTRATO: listaCuotasSeleccionadas[item2].SEC_CONTRATO,
                        DOCUMENTO: '@Session["Usuario"].ToString()',
                        MONTO: listaCuotasSeleccionadas[item2].MONTO,
                        ESTADO: '',
                        SECUENCIA: P_SECUENCIA,
                    }).then(response => {
                        if (response.data.length > 0) {
                            if (response.data[0].MSG == 'OK') {
                                //comentado  alert(JSON.stringify(response.data));
                                registrosOk = registrosOk + 1;
                                //  objtra.money = objtra.money + parseFloat(response.data[0].MONTO_TOTAL);
                                objtra.canprod = objtra.canprod + 1;
                                objtra.number = 'PF' + response.data[0].SECUENCIA.toString().padStart(10, '0');
                                objtra.nombre = response.data[0].NOMBRES;
                                objtra.apepat = response.data[0].APELLIDO_PATERNO;
                                objtra.apemat = response.data[0].APELLIDO_MATERNO;
                                objtra.email = response.data[0].CORREO;
                                objtra.phone = response.data[0].CEL_AFI;
                                objtra.docafi = response.data[0].DOCUMENTO;
                                objtra.contract = response.data[0].CONTRATO;

                                P_SECUENCIA = response.data[0].SECUENCIA;
                            } else {
                                P_ERRORES = P_ERRORES + 1;
                                this.msgAlerta = 'CON00: Error en registro pago.';

                            }
                        } else {
                            P_ERRORES = P_ERRORES + 1;
                            this.msgAlerta ='CON01: Error en la conexión de pago...' ;
                            // break;
                        }
                    }).catch(e => {
                        P_ERRORES = P_ERRORES + 1;
                        this.msgAlerta = 'CON02: Error en la conexión...';
                        //break;
                    });
                }


                /*##################### POST REGISTRO CUOTAS #####################*/

                if (P_ERRORES > 0) {
                    // alert("salir de metodo, error de cotizacion")
                    return;
                }

                if (registrosOk != canListaCuotas) {
                    this.msgAlerta =  "CON02: Error cantidad de registros correctos: " + registrosOk + "es diferente  cantidad de cuotas seleccionadas:" + canListaPlanes;
                    return;
                }

                //######### Obtener el monto por grupo cuotas ######################
                P_ERRORES = 0;
                await axios.post('@apiServidor' + '/api/PagosPF/ObtMnt', {
                    CONTRATO: objtra.contract,
                    SECUENCIA: P_SECUENCIA.toString(),
                    DOCUMENTO: '@Session["Usuario"].ToString()'
                }).then(response => {
                    if (response.data.MONTO < 1) {
                        P_ERRORES = P_ERRORES + 1;
                        this.msgAlerta =  'CNT00: Error monto pago.';

                    } else {
                        //comentado  alert(JSON.stringify(response.data));
                        objtra.money = response.data.MONTO.replace(",", ".");;

                    }

                }).catch(e => {
                    this.msgAlerta = 'CNT01: Error en la conexión...';
                    P_ERRORES = P_ERRORES + 1;
                });


                if (P_ERRORES > 0) {
                    return;
                    //alert("salir de metodo error de monto 0");
                }

                //var mntResPag = 'S/. ' + this.FormatMoneyCeros(objtra.money).toFixed(2);
                mntResPag = 'S/. ' + parseFloat(objtra.money).toFixed(2);
                this.MNTPAG = mntResPag;

                //###### generar autenticacion #################
                await axios.post('@apiServidor' + '/api/PagosPF/GenAut', {
                    //axios.post(this.SERVER_URL + '/api/PlanFamiliar/GenAut', {
                    COD_PETITORIO: objtra.number.toString(),
                    COD_CURRENCY: 'PEN',
                    PURCHASEAMOUNT: objtra.money,
                    COD_EMPRESA: '1001',
                      DOCUMENTO: '@Session["Usuario"].ToString()'
                }).then(response => {
                    if (response.data.length > 0) {

                        var transaction = this.buildTransaction(objtra);
                        var aut = {};
                        aut.identifier = response.data[0].identifier;
                        aut.signature = response.data[0].signature;

                        //comentado
                        //alert(JSON.stringify(response.data[0]));

                        //starpayment con synapsis
                        try {

                            var form = new Synap.Form({
                                environment: '@payEnvironment', //  'sandbox' ,'production',
                                authentication: aut,//oAuthentication,
                                transaction: transaction,
                                listeners: {
                                    afterPay: function (response) {
                                        if (response.success) {
                                            if (response.result.accepted) {
                                                //alert('realizó su pago');
                                                // Agregue el código según la experiencia del cliente para la autorización
                                                //console.info({ecommerceCapureResponse: response });
                                                //console.info("AUTHORIZED");
                                                //debugger;
                                                //comentado   console.log(JSON.stringify(response));
                                                var HTMLStruct = "";
                                                HTMLStruct += "<div class='synap-fieldlist-response'>Pago ";
                                                HTMLStruct += response.result.message;
                                                HTMLStruct += "</div>";
                                                HTMLStruct += "<div class='synap-fieldlist-response'>";
                                                HTMLStruct += "<div class='synap-field-response'>";
                                                HTMLStruct += "<div class='synap-fieldname-response' style='font-size:14px;'>Orden:</div>";
                                                HTMLStruct += "<div class='synap-fieldname-response' style='font-size:14px;'>" + response.order.number + "</div>";
                                                HTMLStruct += "</div>";

                                                HTMLStruct += "<div class='synap-field-response' style='margin-top:5px;margin-bottom:5px;' >";
                                                HTMLStruct += "<div class='synap-fieldname-response' style='font-size:14px;'>Cantidad cuotas:</div>";
                                                HTMLStruct += "<div class='synap-fieldname-response' style='font-size:14px;'>" + objtra.canprod + "</div>";
                                                HTMLStruct += "</div>";

                                                HTMLStruct += "<div class='synap-field-response'>";
                                                HTMLStruct += "<div class='synap-fieldname-response' style='font-size:14px;'>Monto:</div>";
                                                HTMLStruct += "<div class='synap-fieldname-response' style='font-size:14px;'>" + mntResPag + "</div>";
                                                HTMLStruct += "</div>";



                                                HTMLStruct += "<div class='synap-field-response' style='margin-top: 20px;text-align: left;font-size:14px; '>";
                                                HTMLStruct += "Te estamos enviando un correo con toda la informacion de tu pago a : ";
                                                HTMLStruct += "</div>";

                                                HTMLStruct += "</div>";

                                                $("div[synap-identifier='title-value']").html(HTMLStruct);

                                                var HTMLStructmsg = "";

                                                HTMLStructmsg += "<div style='margin-bottom: 14px;text-align: center;'>";
                                                HTMLStructmsg += "<a href='#' title='" + objtra.email + "' style='font-size:15px;'>" + objtra.email + "</a>";
                                                HTMLStructmsg += "</div>";


                                                $(".modal-msg").html(HTMLStructmsg);

                                                $(".modal-footer").html("<a class='btn' style='background-color:#ED6A00;color:white;' href='Pagar'>Cerrar</a>");

                                                this.ID_CORREO

                                            }
                                            else {
                                                console.info({ ecommerceCapureResponse: response });
                                                console.info("DENIED");
                                                var HTMLStruct = "";
                                                HTMLStruct += "<div class='synap-fieldlist-response'>";
                                                HTMLStruct += response.result.message;
                                                HTMLStruct += "</div>";
                                                HTMLStruct += "<div class='synap-fieldlist-response'  >";
                                                HTMLStruct += response.result.processorResult.message;
                                                HTMLStruct += "</div>";
                                                $("div[synap-identifier='title-value']").html(HTMLStruct);
                                                $(".modal-footer").html("<a class='btn'  style='background-color:#ED6A00;color:white;' href='Pagar'>Cerrar</a>");
                                                //<button type='button' class='btn btn-warning m-r' onclick='fn_pagardenuevo();'>¿Desea intentar nuevamente?</button>
                                            }
                                        }
                                        else {
                                            this.mostrarToast({
                                                toast: 'warning', msg: 'Ocurrio un error.'
                                            });
                                            console.info({ ecommerceCapureResponse: response });
                                            console.info("ERROR");
                                            $(".modal-footer").html("<button type='button' class='btn btn-secondary' onclick='fn_regresar();'>Cerrar</button>");
                                        }
                                    }
                                }
                            });
                            form.render('#cart-container');

                        }
                        catch (e) {
                            debugger;
                            this.mostrarToast({
                                toast: 'warning', msg: 'La pasarela de pagos no se encuentra disponible en estos momentos.' + e.message
                            });

                            return false;
                        }


                    } else {

                        this.mostrarToast({ toast: 'warning', msg: 'Error en generacion de autenticacion.' });
                    }
                }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'AUT01: Error en la conexión...' }); });
            },

            FormatMoneyCeros: function (form) {
                var valor = form.toString();
                var sValor;
                if (valor.indexOf(".") > -1 || valor.indexOf(",") > -1) {
                    sValor = valor;
                } else {
                    sValor = valor + ".00";
                }
                return sValor;
            }
            /* FIN SYNAP */

        }

})

app.inicio();
    </script>
}